/* Global variables for fonts and colours*/
:root {
  --body-sm-fs: 1.125rem;
  --body-lg-fs: 1.3rem;
  --body-bg: #F9F9F9;
  --nav-bg: #214177;
  --nav-text: #BDD8F1;
  --h1-sm-fs: 1.5rem;
  --h1-lg-fs: 3.5rem;
  --h2-sm-fs: 1.3125rem;
  --h2-lg-fs: 1.45rem;
  --h3-sm-fs: 1.275rem;
  --h3-lg-fs: 1.5rem;
  --h3-border: #787A91;
  --font-color: #1B1A17;
  --black: black;
  --font-family: 'League Spartan', sans-serif;
  --light-grey: #EDEDED;
  --small-fs: 0.0625rem;
  --footer-text: rgba(255, 255, 255, 0.7);
  --accent: #FF8E00;
}

/* General Styles & Typography */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

body {
  font-size: var(--body-sm-fs);
  font-family: var(--font-family);
  background: var(--body-bg);
  color: var(--font-color);
  margin: 0;
  line-height: 1.6;
}

h2,
h4,
p,
footer {
  text-align: center;
}

h1 {
  font-size: var(--h1-sm-fs);
  color: var(--light-grey);
  text-shadow: 0 0 1 var(--black);
  cursor: not-allowed;
}

h2 {
  font-size: var(--h2-sm-fs);
}

hr {
  margin: 0;
  border: 2px groove #1B262C;
  border-radius: 32px;
}

h3 {
  color: #001E6C;
  font-weight: 700;
  border: 7px inset var(--h3-border);
  width: max-content;
  margin: 0 auto;
  padding: 0 .6em;
  border-radius: 9px;
}

ul {
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
}

/* header nav {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
} */


nav a {
  text-decoration: none;
  color: currentColor;
}

nav a:hover,
nav a:focus {
  border-bottom: 3px solid var(--light-grey);
  color: var(--accent);
}

.about,
.projects {
  padding: 1em 2em;
}

/* Images */
.intro-image {
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
  width: 220px;
  height: 220px;
}

.images-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
}

.image-div {
  flex: 1 212px;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px groove var(--black);

}

.project-img:focus,
.project-img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 500ms;
}

/* Navigation Layout */
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--nav-bg);
  color: var(--nav-text);
}

.nav-title {
  margin-bottom: 0;
}

.nav-list {
  margin-top: 0;
}

.nav-list-item {
  padding: .5em;
  letter-spacing: 1px;
}

/* Intro Section */
.intro {
  display: flex;
  padding: 1em 2em .5em 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-image {
  order: -1;
}

/* About Section */
.about-title,
.projects-title {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Projects Section */
.projects-title {
  margin-bottom: 0;
}

.project-link {
  position: relative;
}

/* Image Banner */
.project-description {
  background: #1B262C;
  color: var(--accent);
  box-shadow: 1px 1px 5px var(--h3-border);
  padding: .1em .24em;
  font-size: .9rem;
  position: absolute;
  bottom: 5px;
  left: 0;
}

/* Footer Section */
footer {
  background-image: linear-gradient(#214177, #0F4C75);
  color: var(--footer-text);
  padding: 1.2em 0;
  top: 0;
}

.footer-icons a,
i {
  font-size: 2rem;
  padding: 0 .4em;
  color: currentColor;
  text-decoration: none;
}

.footer-icons a:hover,
.footer-icons a:focus {
  cursor: pointer;
  opacity: .7;
  color: var(--accent);
  transition: 500ms;
}

/* Utilities */
.pill {
  background: #1B262C;
  color: #BDD8F1;
  border-radius: 30px;
  padding: .3em 1em;
  order: 0;
  font-size: 1.3rem;
  line-height: 1.9;
}

.accent-link {
  text-decoration: none;
  color: currentColor;
}

.accent-link:hover,
.accent-link:focus {
  color: var(--accent);
  transition: 200ms;
  background: var(--font-color);
  padding: .4em;
  border-radius: 30px;
}

/* Media Queries */
@media(min-width: 700px) {
  body {
    font-size: var(--body-lg-fs);
  }

  .intro-title {
    font-size: var(--h2-lg-fs);
    font-weight: 600;
  }

  p {
    font-size: 1.5rem;
  }

  .nav {
    padding: 1em 1.5em;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-title {
    margin: 0;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .intro {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .intro div {
    padding: 1em 2em;
  }

  .intro-image {
    width: 270px;
    height: 270px;
  }
}

@media (max-width: 800px) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}