/* Global variables for fonts and colours*/
:root {
  --body-sm-fs: 1.125rem;
  --body-lg-fs: 1.3rem;
  --body-bg: #F9F9F9;
  --nav-bg: #214177;
  --nav-text: #BDD8F1;
  --h1-sm-fs: 1.5rem;
  --h1-lg-fs: 3.5rem;
  --h2-sm-fs: 1.3125rem;
  --h2-lg-fs: 1.45rem;
  --font-color: #1B1A17;
  --black: black;
  --font-family: 'League Spartan', sans-serif;
  --light-grey: #EDEDED;
  --accent: #fca53b;
}

/* General Styles & Typography */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding-top: 1.2em;
}

body {
  font-size: var(--body-sm-fs);
  font-family: var(--font-family);
  background: var(--body-bg);
  color: var(--font-color);
  margin: 0;
  line-height: 1.6;
  min-height: 100vh;
}

h1 {
  font-size: var(--h1-sm-fs);
  color: var(--light-grey);
  text-shadow: 0 0 1 var(--black);
  cursor: not-allowed;
}

h2 {
  font-size: var(--h2-sm-fs);
}

ul {
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
}

.container {
  margin-top: 12em;
}

nav a {
  text-decoration: none;
  color: currentColor;
  position: relative;
  padding-bottom: .6em;
}

nav a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--light-grey);
  transition: width 200ms ease-out;
}

nav a:hover::before,
nav a:focus::before {
  width: 100%;
}

nav a:hover,
nav a:focus {
  color: var(--accent);
}

/* Navigation Layout */
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--nav-bg);
  color: var(--nav-text);
  box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  padding: .5em 0;
}

.nav-title {
  margin-bottom: 0;
}

.nav-list {
  margin-top: 0;
}

.nav-list-item {
  padding: .5em;
  letter-spacing: 1px;
}

/* Home/Intro Section  */
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-image {
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
  width: 220px;
  height: 220px;
  order: -1;
}

.intro-body {
  text-align: center;
}

/* Projects */
.project-card {
  max-width: 100%;
  width: 270px;
  height: 180px;
  /* https://coolors.co/gradient-maker */
  background: hsla(239, 94%, 14%, 1);
  background: linear-gradient(90deg, hsla(239, 94%, 14%, 1) 0%, hsla(190, 68%, 50%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(239, 94%, 14%, 1) 0%, hsla(190, 68%, 50%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(239, 94%, 14%, 1) 0%, hsla(190, 68%, 50%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#020344", endColorstr="#28B8D5", GradientType=1);
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.project-link {
  text-decoration: none;
  color: #BDD8F1;

}

.project-description {
  color: inherit;
  text-decoration: none;
  padding: 2em;
}

.projects-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: auto;
  gap: 15px;
  padding: 2em;
}

.project-card:focus,
.project-card:hover {
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.2),
    0px -6px 10px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

/* Contact Section */
.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: auto;
  gap: 15px;
  padding: 2em;
}

.icons div {
  background-color: #fff;
}

.icons div a {
  font-size: 7rem;
  text-decoration: none;
  color: currentColor;
  padding: 0 .4em;
}


.icons div {
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.07),
    0px -3px 7px 1px rgba(0, 0, 0, 0.07);
  transition: box-shadow 0.5s ease-in-out;
}

.icons div:hover,
.icons div:focus {
  box-shadow: 0px 6px 10px 2px rgba(0, 0, 0, 0.2),
    0px -6px 10px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  color: var(--accent)
}

/* Utilities */
.skills {
  text-align: center;
}

.dev-icon {
  padding: .3em 1em;
  margin: 0 .1em;
  width: 80px;
  height: 50px;
}

.accent-link {
  text-decoration: none;
  color: currentColor;
}

.accent-link:hover,
.accent-link:focus {
  color: var(--accent);
  transition: 200ms;
  background: var(--font-color);
  padding: .4em;
  border-radius: 30px;
}

@media(min-width: 40em) {
  .container {
    margin-top: 4em;
  }

  .nav {
    padding: .5em 1.5em;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-title {
    margin: 0;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}

/* Media Queries */
@media(min-width: 55em) {

  html,
  body {
    height: 100%;
  }

  body {
    font-size: var(--body-lg-fs);
  }

  .container {
    margin-top: 4em;
  }

  .intro-title {
    font-size: var(--h2-lg-fs);
    font-weight: 600;
  }

  p {
    font-size: 1.4rem;
  }

  .intro {
    flex-direction: row;
    gap: 3.2em;
  }

  .intro-body {
    text-align: left;
  }

  .intro-image {
    order: -1;
    width: 280px;
    height: 280px;
  }

  .dev-icon {
    width: 110px;
    height: 110px;
  }

  .icons {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    padding: 7.7em 2.5em;
  }

  .projects-wrapper {
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
  }
}